<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="ivbank-session.html">

<dom-module id="ivbank-movements">
  <template>
    <style>
    :host {
      display: block;
      padding: 1em;
    }
    paper-toast.errorNotification {
      color: white;
      background-color: red;
    }
    .transactionsMap {
      height: 500px;
    }
    .transactionsContainer {
      border: 1px solid gray;
      margin-top: 1em;
    }
    table {
      padding: 0;
      margin: 0;
      border-spacing: 0;
    }
    table.transactionsHeader {
      color: white;
      background-color: orange;
      width: 100%;
    }
    table.transactionsHeader td {
      color: white;
      background-color: orange;
      font-weight: bold;
      padding: 5px;
      font-size: large;
    }
    table.transactionsHeader td:last-child {
      width: 110px;
    }
    table.transactionsRow {
      background-color: white;
      border: 1px solid gray;
      border-width: 1px 0 0 0;
      width: 100%;
    }
    table.transactionsRow tr:hover {
      font-weight: bold;
    }
    table.transactionsRow td {
      padding: 5px;
    }
    table.transactionsRow td:last-child {
      width: 100px;
    }
    </style>
    <h1>Movimientos</h1>
    <div class="transactionsMap">
      <google-map id="transactionsMap"
                  api-key="AIzaSyDlVzPvfvB1x9cFFjTYO_hVwPkppNlwKlA"
                  zoom="2"
                  latitude="19.73"
                  longitude="-100.05">
      </google-map>
    </div>
    <div class="transactionsContainer">
      <table class="transactionsHeader">
        <tr>
          <td>Descripción</td>
          <td>Importe</td>
        </tr>
      </table>
      <iron-list items="[[transactions]]" as="transaction">
        <template>
          <table class="transactionsRow">
            <tr>
              <td>[[transaction.description]]</td>
              <td>$[[_formatMoney(transaction)]]</td>
            </tr>
          </table>
        </template>
      </iron-list>
    </div>

    <paper-toast id="errorNotification"
                 class="errorNotification"
                 duration="5000"
                 horizontal-align="right"
                 text="El servidor no está disponible por el momento, por favor intente más tarde.">
    </paper-toast>
    <ivbank-session id="ivbankSession"></ivbank-session>
    <app-localstorage-document key="ivbank.session.data" data="{{session}}"></app-localstorage-document>
    <iron-ajax id="getTransactionsRequest"
               url="http://localhost:3000/v0/getTransactions"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="_transactionsRequestSuccess"
               on-error="_transactionsRequestError">
    </iron-ajax>
  </template>
  <script>
  class IvbankMovements extends Polymer.Element {
    static get is() {
      return "ivbank-movements";
    }
    static get properties() {
      return {
        session: {
          type: Object,
          reflectToAttribute: false,
          observer: "_sessionObjectSet"
        },
        transactions: Array
      };
    }
    ready() {
      super.ready();
      this.$.ivbankSession.assertIsLoggedInOrRedirect();
    }
    _sessionObjectSet() {
      if (this.session) {
        this._requestTransactions();
      }
    }
    _requestTransactions() {
      const getTransactionsRequestData = {
        token: this.session.token
      }
      this.$.getTransactionsRequest.headers = {
        "Access-Control-Allow-Origin": "*"
      };
      this.$.getTransactionsRequest.body = JSON.stringify(getTransactionsRequestData);
      this.$.getTransactionsRequest.generateRequest();
    }
    _transactionsRequestSuccess(event) {
      if (event.detail.response.listado) {
        const transactions = event.detail.response.listado;
        this.transactions = transactions;
        this.$.transactionsMap.clear();
        for (var i in event.detail.response.listado) {
          const marker = document.createElement('google-map-marker');
          marker.setAttribute("latitude", transactions[i].latitude);
          marker.setAttribute("longitude", transactions[i].longitude);
          marker.setAttribute("label" , transactions[i].description);
          Polymer.dom(this.$.transactionsMap).appendChild(marker);
        }
      } else {
        this.$.errorNotification.open();
      }
    }
    _transactionsRequestError() {
      this.$.errorNotification.open();
    }
    _formatMoney(transaction) {
      return parseFloat(transaction.amount).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
    }
  }
  window.customElements.define(IvbankMovements.is, IvbankMovements);
  </script>
</dom-module>
