<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="ivbank-session.html">

<dom-module id="ivbank-transaction">
  <template>
    <style>
    paper-card {
      width: 550px;
      display: block;
      margin: 0 auto;
    }
    paper-card .card-actions {
      text-align: left;
      padding: 1em;
    }
    paper-button:not([disabled])[raised] {
      color: white;
      background-color: orange;
    }
    paper-toast.successNotification {
      color: white;
      background-color: darkgreen;
    }
    paper-toast.errorNotification {
      color: white;
      background-color: red;
    }
    </style>
    <paper-card>
      <div class="card-content">
        <h1>Insertar transferencia</h1>
        <p>Por favor introduzca los datos de la transacción a insertar:</p>
        <paper-input id="descriptionInput"
                     label="Descripción"
                     value="{{description}}">
            <iron-icon icon="subject" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="amountInput"
                     label="Importe"
                     type="number"
                     value="{{amount}}">
          <iron-icon icon="editor:attach-money" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="dateInput"
                     label="Fecha de movimiento"
                     type="date"
                     value="{{date}}">
          <iron-icon icon="date-range" slot="prefix"></iron-icon>
        </paper-input>
      </div>
      <div class="card-actions">
        <paper-button raised
                      id="insertTransactionButton"
                      on-tap="_onInsertTransactionButtonClick"
                      disabled="[[_isButtonDisabled(description, amount, date)]]">
          <iron-icon icon="save"></iron-icon>
          Guardar
        </paper-button>
        <paper-button on-tap="_onClearFieldsButtonClick">
          <iron-icon icon="clear"></iron-icon>
          Limpiar campos
        </paper-button>
      </div>
    </paper-card>
    <paper-toast id="successNotification"
                 class="successNotification"
                 duration="3000"
                 horizontal-align="right"
                 text="Transacción exitosa.">
    </paper-toast>
    <paper-toast id="errorNotification"
                 class="errorNotification"
                 duration="5000"
                 horizontal-align="right"
                 text="Hubo un error al insertar la transacción, por favor intente más tarde.">
    </paper-toast>
    <ivbank-session id="ivbankSession"></ivbank-session>
    <app-localstorage-document key="ivbank.session.data" data="{{session}}"></app-localstorage-document>
    <iron-ajax id="transferRequest"
               url="http://localhost:3000/v0/insertTransaction"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="_transferRequestSuccess"
               on-error="_transferRequestError">
    </iron-ajax>
  </template>
  <script>
  class IvbankTransaction extends Polymer.Element {
    static get is() {
      return "ivbank-transaction";
    }
    static get properties() {
      return {
        session: {
          type: Object,
          reflectToAttribute: false
        },
        description: {
          type: String,
          reflectToAttribute: false
        },
        amount: {
          type: Number,
          reflectToAttribute: false
        },
        date: {
          type: Date,
          reflectToAttribute: false
        }
      };
    }
    ready() {
      super.ready();
      this.$.ivbankSession.assertIsLoggedInOrRedirect();
      this.$.insertTransactionButton.disabled = true;
    }
    _onInsertTransactionButtonClick() {
      const transferRequestData = {
        token: this.session.token,
        description: this.description,
        amount: this.amount,
        date: this.date,
        latitude: this._getRandomLatitude(),
        longitude: this._getRandomLongitude()
      };
      this.$.transferRequest.headers = {
        "Access-Control-Allow-Origin": "*"
      }
      this.$.transferRequest.body = JSON.stringify(transferRequestData);
      this.$.transferRequest.generateRequest();
    }
    _onClearFieldsButtonClick() {
      this._clearFields();
    }
    _clearFields() {
      this.$.descriptionInput.value = "";
      this.$.amountInput.value = "";
      this.$.dateInput.value = "";
      this.$.descriptionInput.focus();
    }
    _isButtonDisabled(description, amount, date) {
      return !description || !amount || !date;
    }
    _transferRequestSuccess(event) {
      if (event.detail.response.status && event.detail.response.status === "OK") {
        this.$.successNotification.open();
        this._clearFields();
      } else {
        this._transferRequestError();
      }
    }
    _transferRequestError() {
      this.$.errorNotification.open();
      this.$.descriptionInput.focus();
    }
    _getRandomLatitude() {
      const lat = Math.min(Math.random() * 100, 89); // 90 es el máximo valor para "latitud"
      const truncatedLat = this._truncateDecimals(lat);
      return this._randomizeNegativity(truncatedLat);
    }
    _getRandomLongitude() {
      const lon = Math.min(Math.random() * 250, 179); // 180 es el máximo valor para "longitud"
      const truncatedLon = this._truncateDecimals(lon);
      return this._randomizeNegativity(truncatedLon);
    }
    _truncateDecimals(num) {
      const nonDecimals = ("" + num).indexOf(".");
      return parseFloat(("" + num).substring(0, nonDecimals + 5));
    }
    _randomizeNegativity(num) {
      return Math.random() < 0.5 ? num * -1 : num;
    }
  }
  window.customElements.define(IvbankTransaction.is, IvbankTransaction);
  </script>
</dom-module>
