<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="ivbank-home">
  <template>
    <style>
    :host {
      display: block;
      padding: 1em;
    }
    </style>
    <h1>Bienvenido, [[session.name]] [[session.lastName]].</h1>
    <h4>Selecciona del menú de la izquierda la opción que desees.</h4>
    <iron-image src="../resources/images/logo-128x128.png"></iron-image>
    <app-localstorage-document key="ivbank.session.data" data="{{session}}"></app-localstorage-document>
  </template>
  <script>
  class IvbankHome extends Polymer.Element {
    static get is() {
      return "ivbank-home";
    }
    static get properties() {
      return {
        session: {
          type: Object,
          reflectToAttribute: false
        }
      };
    }
  }
  window.customElements.define(IvbankHome.is, IvbankHome);
  </script>
</dom-module>