<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="ivbank-session.html">

<dom-module id="ivbank-users">
  <template>
    <style>
    paper-card {
      width: 550px;
      display: block;
      margin: 0 auto;
    }
    paper-card .card-actions {
      text-align: left;
      padding: 1em;
    }
    paper-button:not([disabled])[raised] {
      color: white;
      background-color: orange;
    }
    paper-toast.successNotification {
      color: white;
      background-color: darkgreen;
    }
    paper-toast.errorNotification {
      color: white;
      background-color: red;
    }
    </style>
    <paper-card>
      <div class="card-content">
        <h1>Administrar usuarios</h1>
        <p>Por favor introduzca los datos del usuario a insertar:</p>
        <paper-input id="nameInput"
                     label="Nombre"
                     value="{{userName}}">
            <iron-icon icon="social:person" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="lastNameInput"
                     label="Apellido"
                     value="{{lastName}}">
          <iron-icon icon="social:person" slot="prefix"></iron-icon>
        </paper-input>
        <paper-dropdown-menu id="profileInput" label="Perfil" value="{{profile}}">
          <paper-listbox selected="0" slot="dropdown-content">
            <paper-item>Cliente</paper-item>
            <paper-item>Administrador</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
        <paper-input id="mailInput"
                     label="Mail"
                     type="email"
                     value="{{mail}}">
            <iron-icon icon="mail" slot="prefix"></iron-icon>
        </paper-input>
        <paper-input id="passInput"
                     label="Contraseña"
                     value="{{pass}}"
                     type="password"
                     maxlength="20">
          <iron-icon icon="communication:vpn-key" slot="prefix"></iron-icon>
        </paper-input>
      </div>
      <div class="card-actions">
        <paper-button raised
                      id="insertUserButton"
                      on-tap="_onInsertUserButtonClick"
                      disabled="[[_isButtonDisabled(userName, lastName, profile, mail, pass)]]">
          <iron-icon icon="save"></iron-icon>
          Guardar
        </paper-button>
        <paper-button on-tap="_onClearFieldsButtonClick">
          <iron-icon icon="clear"></iron-icon>
          Limpiar campos
        </paper-button>
      </div>
    </paper-card>
    <paper-toast id="successNotification"
                 class="successNotification"
                 duration="3000"
                 horizontal-align="right"
                 text="Alta exitosa.">
    </paper-toast>
    <paper-toast id="errorNotification"
                 class="errorNotification"
                 duration="5000"
                 horizontal-align="right"
                 text="Hubo un error al dar de alta al usuario, por favor intente más tarde.">
    </paper-toast>
    <ivbank-session id="ivbankSession"></ivbank-session>
    <app-localstorage-document key="ivbank.session.data" data="{{session}}"></app-localstorage-document>
    <iron-ajax id="insertUserRequest"
               url="http://localhost:3000/v0/insertCustomer"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json"
               on-response="_insertUserRequestSuccess"
               on-error="_insertUserRequestError">
    </iron-ajax>
  </template>
  <script>
  class IvbankUsers extends Polymer.Element {
    static get is() {
      return "ivbank-users";
    }
    static get properties() {
      return {
        session: {
          type: Object,
          reflectToAttribute: false
        },
        userName: {
          type: String,
          reflectToAttribute: false
        },
        lastName: {
          type: String,
          reflectToAttribute: false
        },
        profile: {
          type: String,
          reflectToAttribute: false
        },
        mail: {
          type: String,
          reflectToAttribute: false
        },
        pass: {
          type: String,
          reflectToAttribute: false
        }
      };
    }
    ready() {
      super.ready();
      this.$.ivbankSession.assertIsLoggedInOrRedirect();
      this.$.insertUserButton.disabled = true;
    }
    _onInsertUserButtonClick() {
      const insertUserRequestData = {
        token: this.session.token,
        name: this.userName,
        lastName: this.lastName,
        profile: this._normalizeProfile(this.profile),
        mail: this.mail,
        pass: this.pass
      };
      this.$.insertUserRequest.body = JSON.stringify(insertUserRequestData);
      this.$.insertUserRequest.generateRequest();
    }
    _normalizeProfile(profile) {
      return profile === "Administrador" ? "admin" : "client";
    }
    _onClearFieldsButtonClick() {
      this._clearFields();
    }
    _clearFields() {
      this.$.nameInput.value = "";
      this.$.lastNameInput.value = "";
      this.$.profileInput.value = "Cliente";
      this.$.mailInput.value = "";
      this.$.passInput.value = "";
      this.$.nameInput.focus();
    }
    _isButtonDisabled(userName, lastName, profile, mail, pass) {
      return !userName || !lastName || !profile || !mail || !pass;
    }
    _insertUserRequestSuccess(event) {
      if (event.detail.response.status && event.detail.response.status === "OK") {
        this.$.successNotification.open();
        this._clearFields();
      } else {
        this._insertUserRequestError();
      }
    }
    _insertUserRequestError() {
      this.$.errorNotification.open();
      this.$.nameInput.focus();
    }
  }
  window.customElements.define(IvbankUsers.is, IvbankUsers);
  </script>
  </script>
</dom-module>
