<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">
<link rel="import" href="ivbank-session.html">

<link rel="lazy-import" href="ivbank-home.html">
<link rel="lazy-import" href="ivbank-movements.html">
<link rel="lazy-import" href="ivbank-transaction.html">
<link rel="lazy-import" href="ivbank-users.html">

<dom-module id="ivbank-app">
  <template>
    <style>
      :host {
        --app-primary-color: orange;
        --app-secondary-color: white;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-drawer {
        background-color: #ffda91;
      }
      app-header {
        color: white;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-primary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        background-color: #fff2dd;
        font-weight: bold;
      }
      .errorNotification {
        color: white;
        background-color: red;
      }
      hr {
        border-color: #fefefe;
      }
      paper-button[raised]:not(:hover) {
        color: white;
        background-color: darkred;
      }
      [hidden] {
        display: none !important;
      }
    </style>

    <app-location route="{{route}}" url-space-regex="^[[rootPath]]"></app-location>
    <app-route route="{{route}}" pattern="[[rootPath]]:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="home" href="[[rootPath]]home">Inicio</a>
          <a name="movements" href="[[rootPath]]movements">Movimientos</a>
          <a name="transaction" href="[[rootPath]]transaction">Insertar transacciones</a>
          <a name="users" href="[[rootPath]]users" hidden="[[!_isAdmin(session)]]">Administrar usuarios</a>
        </iron-selector>
        <hr/>
        <paper-button raised on-tap="_onLogoutClick">Cerrar sesión</paper-button>
      </app-drawer>
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
            <div main-title>Ivbank</div>
          </app-toolbar>
        </app-header>
        <iron-pages selected="[[page]]" attr-for-selected="name" role="main">
          <ivbank-home name="home"></ivbank-home>
          <ivbank-movements name="movements"></ivbank-movements>
          <ivbank-transaction name="transaction"></ivbank-transaction>
          <ivbank-users name="users"></ivbank-users>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
    <paper-toast id="errorNotification"
                 class="errorNotification"
                 duration="4000"
                 vertical-align="top"
                 horizontal-align="right">
    </paper-toast>
    <ivbank-session id="ivbankSession"></ivbank-session>
    <app-localstorage-document key="ivbank.session.data" data="{{session}}"></app-localstorage-document>
  </template>

  <script>
    Polymer.setPassiveTouchGestures(true);

    class IvbankApp extends Polymer.Element {
      static get is() {
        return 'ivbank-app';
      }
      static get properties() {
        return {
          session: {
            type: Object,
            reflectToAttribute: false
          },
          page: {
            type: String,
            reflectToAttribute: false,
            observer: '_pageChanged',
          },
          routeData: {
            type: Object,
            reflectToAttribute: false
          },
          subroute: {
            type: Object,
            reflectToAttribute: false
          },
          rootPath: {
            type: String,
            reflectToAttribute: false
          }
        };
      }
      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }
      ready() {
        super.ready();
        this.$.ivbankSession.assertIsLoggedInOrRedirect();
      }
      _routePageChanged(page) {
        this.page = page || 'home';

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }
      _pageChanged(page) {
        const resolvedPageUrl = this.resolveUrl('ivbank-' + page + '.html');
        Polymer.importHref(resolvedPageUrl, null, this._showUnknownPageError.bind(this), true);
      }
      _showUnknownPageError() {
        this._showErrorNotification("La página solicitada no existe.");
      }
      _onLogoutClick() {
        this.$.ivbankSession.logout().then(
          () => window.location = "/login.html",
          () => this._showErrorNotification("El servidor no responde, favor de intentar más tarde."));
      }
      _showErrorNotification(text) {
        this.$.errorNotification.text = text;
        this.$.errorNotification.open();
      }
      _isAdmin(session) {
        return session.profile === "admin";
      }
    }
    window.customElements.define(IvbankApp.is, IvbankApp);
  </script>
</dom-module>
