<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="ivbank-session">
  <template>
    <app-localstorage-document key="ivbank.session.data" data="{{data}}"></app-localstorage-document>
    <iron-ajax id="loginRequest"
               url="http://localhost:3000/v0/login"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json">
    </iron-ajax>
    <iron-ajax id="logoutRequest"
               url="http://localhost:3000/v0/logout"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json">
    </iron-ajax>
    <iron-ajax id="getCustomerRequest"
               url="http://localhost:3000/v0/getCustomer"
               with-credentials="true"
               method="POST"
               content-type="application/json"
               handle-as="json">
  </template>
  <script>
  class IvbankSession extends Polymer.Element {
    static get is() {
      return "ivbank-session";
    }
    static get properties() {
      return {
        data: {
          type: Object,
          notify: true,
          reflectToAttribute: false,
          value: {},
          observer: "_onSessionDataChanged"
        }
      };
    }
    _onSessionDataChanged() {
      if (!this.data) {
        this.data = {};
      }
    }
    login(email, pass) {
      const loginRequestData = {
        mail: email,
        pass: pass
      };
      this.$.loginRequest.headers = {
        "Access-Control-Allow-Origin": "*"
      };
      this.$.loginRequest.body = JSON.stringify(loginRequestData);
      return new Promise((resolve, reject) => {
        this.$.loginRequest.generateRequest().completes.then(
          (event) => {
            if (event.response && event.response.token) {
              this.data = {token: event.response.token};
              this.getCustomer().then(
                (customer) => {
                  this.data = customer;
                  resolve(customer);
                },
                () => reject("El servidor no está disponible por el momento," +
                       " por favor intente más tarde.")
              )
            } else {
              reject("Email o contraseña incorrectos.");
            }
          },
          () => reject("El servidor no está disponible por el momento, " +
                       "por favor intente más tarde.")
        );
      });
    }
    logout() {
      const logoutRequestData = {token: this.data.token};
      this.$.logoutRequest.headers = {
        "Access-Control-Allow-Origin": "*"
      };
      this.$.logoutRequest.body = JSON.stringify(logoutRequestData);
      return new Promise((resolve, reject) => {
        this.$.logoutRequest.generateRequest().completes.then(
          () => {
            this.data = {};
            resolve();
          },
          () => reject()
        );
      });
    }
    getCustomer() {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          const getCustomerRequestData = {token: this.data.token};
          this.$.getCustomerRequest.headers = {
            "Access-Control-Allow-Origin": "*"
          };
          this.$.getCustomerRequest.body = JSON.stringify(getCustomerRequestData);
          this.$.getCustomerRequest.generateRequest().completes.then(
            (event) => {
              if (!event.response.error) {
                resolve(event.response);
              } else {
                reject(event.response.error);
              }
            },
            () => reject()
          );
        }, 100);
      });
    }
    assertIsLoggedInOrRedirect() {
      this.getCustomer().catch(() => window.location = "/login.html");
    }
  }
  window.customElements.define(IvbankSession.is, IvbankSession);
  </script>
</ivbank-session>
