<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="ivbank-session.html">

<dom-module id="ivbank-login">
  <template>
    <style>
    .centered {
      display: block;
      padding-top: 1em;
      text-align: center;
    }
    .vertical-centered {
      vertical-align: unset !important;
    }
    .orange {
      color: orange;
    }
    paper-card .card-actions {
      text-align: left;
      padding: 1em;
    }
    paper-button:not([disabled]) {
      color: white;
      background-color: orange;
    }
    </style>
    <div class="centered">
      <paper-card>
        <div class="card-content">
          <h1>
            Bienvenido a <span class="orange">Ivbank</span>
            <iron-icon class="vertical-centered" src="../resources/images/logo-32x32.png"></iron-icon>
          </h1>
          <p>Por favor introduce tus datos para iniciar sesión:</p>
          <paper-input id="emailInput"
                       label="Email"
                       value="{{email}}"
                       type="email"
                       maxlength="80">
            <iron-icon icon="mail" slot="prefix"></iron-icon>
          </paper-input>
          <paper-input id="passInput"
                       label="Contraseña"
                       value="{{pass}}"
                       type="password"
                       maxlength="20">
            <iron-icon icon="communication:vpn-key" slot="prefix"></iron-icon>
          </paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised id="loginButton" on-tap="_onLoginButtonClick" disabled="[[_isButtonDisabled(email, pass)]]">
            <iron-icon icon="lock"></iron-icon>
            Iniciar sesión
          </paper-button>
        </div>
      </paper-card>
    </div>
    <paper-toast id="notification"
                 duration="4000"
                 vertical-align="top"
                 horizontal-align="right">
    </paper-toast>
    <ivbank-session id="ivbankSession"></ivbank-session>
  </template>
  <script>
  class IvbankLogin extends Polymer.Element {
    static get is() {
      return "ivbank-login";
    }
    static get properties() {
      return {
        email: {
          type: String,
          reflectToAttribute: false
        },
        pass: {
          type: String,
          reflectToAttribute: false
        }
      };
    }
    ready() {
      super.ready();
      this.$.loginButton.disabled = true;
    }
    _onLoginButtonClick() {
      this.$.ivbankSession
        .login(this.email, this.pass)
        .then(this._onLoginSuccess.bind(this), this._onLoginError.bind(this));
    }
    _isButtonDisabled(email, pass) {
      return !email || !pass;
    }
    _onLoginSuccess(customer) {
      if(customer && customer.token) {
        window.location = "/";
      } else {
        this._onLoginError("Usuario o contraseña inválidos.");
      }
    }
    _onLoginError(errorMessage) {
      this.$.notification.text = errorMessage;
      this.$.notification.open();
      this.$.emailInput.focus();
    }
  }
  window.customElements.define(IvbankLogin.is, IvbankLogin);
  </script>
</dom-module>
